.Title
{
    color: rgb(255, 255, 255);
    font-size: 26px;
}
.button
{
    color: aqua;
    font-size: 148%;
    /*block-size: 50px;*/

}
.dark {
    background-color: black;
    color: white;
}
.light{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
#bg
{
    background-color:  rgb(42, 42, 42) !important;
}

ion-content{
    --ion-background-color: rgb(42, 42, 42) !important;
}
ion-toolbar{
    --background:  rgb(42, 42, 42) !important;
}
ion-app{
    --background:  rgb(42, 42, 42) !important;
}
